<!DOCTYPE html>
<html>
<head>
  <title>Qoqocms</title>
  <%= stylesheet_link_tag    "qoqocms/application", :media => "all" %>
  <%= javascript_include_tag "qoqocms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
